html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #48433D;
    background-color: #E4E3E1;
}

.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 250px auto;
    margin: 0 auto;
    max-width: 1024px;
    background-color: #FFF;

}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-column-end: 3;
    grid-column-start: 1;
    grid-row-start: 1;
    text-transform: uppercase;
    background-color: #2D2D2D;
    color: #E3DEDA;
    letter-spacing: 5px;
}

.title-container {
    max-width: 90%;
}

.burger-menu {
    display: none;
}
.player {
    max-width: 750px;
    border: 5px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    position: relative;
    font-size: 0;
    overflow: hidden;
  }
  
  /* This css is only applied when fullscreen is active. */
  .player:fullscreen {
    max-width: none;
    width: 100%;
  }
  
  .player:-webkit-full-screen {
    max-width: none;
    width: 100%;
  }
  
  .player__video {
    width: 100%;
  }
  
  .player__button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px;
  }
  
  .player__button:focus {
    border-color: #e3d6ce;;
  }
  
  .player__slider {
    width: 10px;
    height: 30px;
  }
  
  .player__controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition: all .3s;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.1);
  }
  
  .player:hover .player__controls {
    transform: translateY(0);
  }
  
  .player:hover .progress {
    height: 15px;
  }
  
  .player__controls > * {
    flex: 1;
  }
  
  .progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    transition: height 0.3s;
    background: rgba(0,0,0,0.5);
    cursor: ew-resize;
  }
  
  .progress__filled {
    width: 50%;
    background: #e3d6ce;;
    flex: 0;
    flex-basis: 50%;
  }
  
  /* unholy css to style input type="range" */
  
  input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255,255,255,0.8);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #e3d6ce;;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow:0 0 2px rgba(0,0,0,0.2);
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #e3d6ce;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #e3d6ce;
    cursor: pointer;
  }

.main-header nav {
    align-self: flex-end;
    width: 70%;
    margin-right: 10px;
    margin-top: 10px;
}

.menu-list li,
.burger-menu-list li {
    position: relative;
    list-style: none;
    color: #E3DEDA;
    font-size: 10px;
    font-weight: bold;
}

.menu-list li::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #e3deda61;
    transition: width 0.5s ease-in-out;
}

li:hover::after {
    width: 100%;
    transition: width 0.5s ease-in-out;
}

.menu-list a,
.burger-menu-list a {
    color: #E3DEDA;
    transition: 0.5s linear;
    display: block;
}

.menu-list a:link,
.menu-list a:visited,
.burger-menu-list a:link,
.burger-menu-list a:visited {
    color: #E3DEDA;
}

.menu-list a:hover,
a:active,
.hov:hover h1,
.hov h4:hover {
    color: #aba19b;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;

}

.info-nav {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 1;
    left: 14px;
    padding-top: 30px;
    background-color: #E3D6CE;
}

.main {
    padding: 0 40px 0 50px;
    background-color: #FFFFFF;
}

.cv-photo {
    border: 2px solid #504943;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.info-nav h2 {
    border-bottom: 2px solid #48433D;
    letter-spacing: 3px;
    margin-left: 50px;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 200px;
}

.ul-contact {
    font-weight: 700;
}

.fa-ul li {
    margin-bottom: 20px;
}

.main h2 {
    display: inline-block;
    border-bottom: 2px solid #48433D;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 90%;
}

.fa-ul i {
    padding-top: 10px;
}

.time-line {
    padding-left: 0;
}

.time-line>li {
    position: relative;
    border-left: 2px solid #48433D;
    list-style-type: none;
    padding-left: 30px;
}

.time-line>li:not(:last-child) {
    padding-bottom: 20px;
}

.time-line>li:before {
    position: absolute;
    display: block;
    border: 2px solid #48433D;
    background: #FFFFFF;
    border-radius: 50%;
    content: '';
    height: 12px;
    left: -9px;
    top: 3px;
    width: 12px;
}

.date {
    display: block;
    font-weight: bold;
    width: 150px;
}

.with-date ul {
    grid-column-start: 2;
}

.with-date>li {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 120px auto;
}

.icons {
    margin: 0px 10px 0px -20px;
    opacity: 0.3;
}

.sections {
    margin-top: 30px;
}

a:link,
a:visited {
    color: #585551;
    text-decoration: none;
}

.projects-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-item {
    width: 40%;
    margin-bottom: 25px;
}
.project-item p{
    font-size: 13px;
    text-align: justify;
}

.project-item:hover img {
    filter: none;
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
}

.project-item img {
    width: 100%;
    filter: sepia(40%);
    transition: all 0.5s ease-in-out;
    border-radius: 7px;
}

.project-item h3 {
    margin: 0;
    text-align: center;
    background-color: rgb(200 199 197 / 49%);
    border-radius: 7px;
    font-size: 15px;
    transition: all 0.5s ease-in-out;
}
.project-item:hover h3
{
    background-color: rgb(227 214 206 / 89%);
    transition: all 0.5s ease-in-out;
}

.code {
    background-color: #E4E3E1;
}

.main-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    background-color: #2D2D2D;
    color: #E3DEDA;
    padding: 15px 0;
    grid-column-end: 3;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;

}

.footer-container {
    width: 75%;
}

.footer-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer-list li {
    flex: 1;
    text-align: center;
    align-self: center;
}

.footer-list i {
    font-size: 50px;
    color: #E3DEDA;
}

.footer-list img {
    width: 50%;
}


@media (max-width: 1024px) {
    .wrapper {
        max-width: 90%;
    }

    .title-container {
        padding-left: 200px;
    }

    .menu-list {
        margin-left: 44px;
    }

    .menu-list li {
        font-size: 8px;
    }

    .main h2 {
        width: 85%;
    }
}

@media (max-width: 885px) {
    body {
        font-size: 14px;
    }

    .wrapper {
        grid-template-columns: 1fr 0fr;
        grid-template-rows: 170px auto;
    }

    .title-container {
        text-align: center;
        padding: 0;
    }

    .title-container h1 {
        font-size: 20px;
    }

    .project-item h3 {
        font-size: 9px;
    }

    .main-header,
    .main-footer {
        padding-left: 0px;
        justify-content: space-around;
    }

    .main {
        padding: 0 35px;

    }

    .menu-list {
        margin: 0;
    }

    .main-header nav {
        width: 95%;
        margin-right: 0;
        align-self: center;
    }

    .info-nav {
        z-index: 50;
        position: fixed;
        padding-right: 40px;
        height: 100%;
        top: 0;
        left: -245px;

    }

    .fa-ul li {
        padding-right: 30px;
    }

    .info-nav:hover {
        left: 0px;
        transition: left 0.5s ease-in;
    }

    .info-nav h2 {
        width: 175px;
    }


    .info-nav::before {
        content: 'Info ▼';
        transform: rotate(-90deg);
        position: absolute;
        right: -30px;
        top: 200px;
        font-size: 25px;
        text-transform: uppercase;
    }
}

@media (max-width: 600px) {
    .main-header {
        min-height: 130px;
        position: fixed;
        width: 80%;
        z-index: 40;
    }

    .wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;

    }

    .burger-menu {
        display: block;
    }

    .title-container p {
        font-size: 10px;
    }

    .main {
        padding-top: 150px;
    }

    .main h2 {
        width: 80%;
        font-size: 15px;
    }
    .player:hover .progress {
        height: 4px;
    }
    .player__slider{
        height: 20px;
    }
    .player__button {
        font-size: 10px;
    }

    .with-date>li {
        display: block;
    }

    code {
        font-size: 7px;
    }

    .menu-list {
        display: none;
    }

    .burger-button {
        position: absolute;
        top: 105px;
        right: 0px;
        z-index: 30;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #48433d;
    }

    .burger-button:hover .burger-button-lines {
        filter: brightness(0.7);
    }

    .burger-button-lines,
    .burger-button-lines::before,
    .burger-button-lines::after {
        position: absolute;
        width: 25px;
        height: 3px;
        background-color: #e3deda;
    }

    .burger-button-lines {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .burger-button-lines::before {
        content: '';
        top: -9px;
    }

    .burger-button-lines::after {
        content: '';
        top: 9px;
    }

    .burger-menu_active .burger-button-lines {
        background-color: transparent;
    }

    .burger-menu_active .burger-button-lines::before {
        top: 0;
        transform: rotate(45deg);
    }

    .burger-menu_active .burger-button-lines::after {
        top: 0;
        transform: rotate(-45deg);
    }

    .burger-menu_nav {
        position: absolute;
        z-index: 20;
        display: flex;
        flex-flow: column;
        background-color: #e3d6ce;
        overflow-y: auto;
        right: -110%;
    }

    .burger-menu_active .burger-menu_nav {
        right: 0;
        top: 120px
    }

    .burger-menu-list li a,
    .burger-menu-list li a:visited,
    .burger-menu-list li a:link {
        color: #2d2d2d;
        font-size: 16px;
       
    }
    .project-item p{
        display: none;
    }
}